PROVENANCE_TEAM_ID = ${DEVELOPMENT_TEAM}
PROVENANCE_BUNDLE_ID = cloud.tavitian.provenance
PROVENANCE_DEPLOYMENT_TARGET = 14.0
PROVENANCE_STICKERS_DEPLOYMENT_TARGET = 11.4
PROVENANCE_BUILD_VERSION = 1
PROVENANCE_SHORT_VERSION_STRING = 18.8
PROVENANCE_LAUNCH_STORYBOARD = LaunchScreen
PROVENANCE_COPYRIGHT = Copyright © 2021 Paul Tavitian
CODESIGNING_IDENTITY = Apple Development
APP_ICON = AppIcon
IMESSAGE_APP_ICON = iMessageAppIcon
ACCENT_COLOUR = AccentColor
WIDGET_BACKGROUND = WidgetBackground
