<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Apple Development</string>
	<key>teamID</key>
	<string>JDL5FY6SCC</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>cloud.tavitian.provenance</key>
		<string>Provenance Development</string>
		<key>cloud.tavitian.provenance.stickers</key>
		<string>Provenance Stickers Development</string>
		<key>cloud.tavitian.provenance.widgets</key>
		<string>Provenance Widgets Development</string>
		<key>cloud.tavitian.provenance.intents</key>
		<string>Provenance Intents Development</string>
		<key>cloud.tavitian.provenance.intentsui</key>
		<string>Provenance IntentsUI Development</string>
	</dict>
</dict>
</plist>
