PROVENANCE_TEAM_ID = ${DEVELOPMENT_TEAM}
PROVENANCE_BUNDLE_ID = cloud.tavitian.provenance
PROVENANCE_BUILD_VERSION = 1
PROVENANCE_SHORT_VERSION_STRING = 18.5
PROVENANCE_LAUNCH_STORYBOARD = LaunchScreen
PROVENANCE_COPYRIGHT = Copyright © 2021 Paul Tavitian
ACCENT_COLOUR = AccentColor
WIDGET_BACKGROUND = WidgetBackground
